.header_portfolio {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(199, 196, 196, 1);
  background-color: var(--grey-0);
  position: fixed;
  z-index: 1;
  height: 12%;
  width: 100%;
}

.main_portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 25%;
}

.footer_portfolio {
  background-color: var(--grey-4);
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 10;
}

/* Para tablets (largura mínima de 768px) */
@media (min-width: 765px) {
  .main_portfolio {
    padding-top: 0;
  }
}