.header_portfolio {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(199, 196, 196, 1);
  /* height: 500px; */
  position: relative;
  z-index: 1;
}

.main_portfolio {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}