.first_section {
  display: flex;
  padding: 10%;
}

.secound_section {
  display: flex;
  background-color: var(--grey-1);
  padding: 10%;
  height: 100%;
}

.third_section {
  display: flex;
  background-color: var(--grey-0);
  padding: 10%;
  flex-wrap: wrap;
}

/* Para tablets (largura mínima de 768px) */
@media (min-width: 900px) {}

/* Para desktops (largura mínima de 1024px) */
@media (min-width: 1024px) {}