.container_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--grey-4);
}

.container_main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 78vh;
}

.fin_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin: 2rem 1rem 1rem 1rem;
  border: 1px solid var(--grey-matte);
}

.fin_summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
}

/* -------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) {
  .container_footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .container_main {
    width: 90%;
    align-items: start;
    margin-top: 2rem;
    height: 77vh;
  }

  .fin_form {
    width: 40%;
    height: 60%;
    margin: 2rem 0 0 0;
  }

  .fin_summary {
    width: 50%;
    height: 80%;
    margin: 2rem 0 0 0;
  }

}

@media (min-width: 1000px) {
  .fin_form {
    width: 30%;

  }

  .fin_summary {
    width: 60%;
  }

}