.logo_wrapper {
  display: flex;
  padding: 1rem 0 1rem 1rem;
}

.logo {
  color: var(--color-primary);
  margin: 0 0.6rem 0rem 0;
}

.list_sections {
  opacity: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

.list_sections_open {
  display: flex;
  flex-direction: column;
  align-items: end;
  top: 80px;
  visibility: visible;
  position: absolute;
  z-index: -1;
  background-color: transparent;
  width: 100%;
  animation: slideDown 0.2s ease-in-out;
}

.list_sections_open button {
  background-color: var(--color-primary-50);
  color: var(--grey-0);
}

@keyframes slideDown {
  from {
    top: -100px;
  }

  to {
    top: 80px;
  }
}

.list_item {
  width: 6.5rem;
  margin: 1rem;
}

.advertme_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}

.btn_projects {
  margin-top: 1rem;
}

.btn_github {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.icons_hard_skills {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.icons_hard_skills svg {
  width: 70px;
  height: 70px;
  color: var(--grey-matte);
  animation: float 3s ease-in-out infinite;
}

.icons_hard_skills svg:nth-child(3) {
  animation: float 2.6s ease-in-out infinite;
}

.icons_hard_skills svg:nth-child(2) {
  animation: float 2.8s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.my_projects {
  display: flex;
  flex-direction: column;
}

.list_my_projects {
  display: flex;
  flex-wrap: wrap;
}

.info_contact_me {
  margin-bottom: 1.5rem;
}

/* Para tablets (largura mínima de 768px) */
@media (min-width: 900px) {
  .list_sections {
    display: flex;
    opacity: 1;
    height: auto;
    overflow: visible;
    visibility: visible;
    transition: none;
  }

  .list_sections_open {
    visibility: hidden;
  }

  .btn_projects {
    width: 49%;
  }

  .icons_hard_skills {
    justify-content: left;
  }

  .contact_me {
    width: 50%;
  }
}

/* Para desktops (largura mínima de 1024px) */
@media (min-width: 1024px) {}