.logo_wrapper {
  display: flex;
  padding: 1rem 0 1rem 1rem;
}

.logo {
  color: var(--color-primary);
  margin: 0 0.6rem 0rem 0;
}

.list_sections {
  display: none;
}

.list_sections_open {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 80px;
  visibility: visible;
  position: absolute;
  z-index: 2;
  background-color: var(--grey-2);
  width: 100%;
}

.list_item {
  width: 6.5rem;
  margin: 1rem;
}

.first_section {
  display: flex;
}

.advertme_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}

.btn_projects {
  margin-top: 1rem;
}

.btn_github {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.icons_hard_skills {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.icons_hard_skills svg {
  width: 70px;
  height: 70px;
  color: var(--grey-matte);
  animation: float 3s ease-in-out infinite;
}

.icons_hard_skills svg:nth-child(3) {
  animation: float 2.6s ease-in-out infinite;
}

.icons_hard_skills svg:nth-child(2) {
  animation: float 2.8s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}


/* Para tablets (largura mínima de 768px) */
@media (min-width: 900px) {
  .list_sections {
    display: flex;
    /* width: 40%; */
  }

  .list_sections_open {
    visibility: hidden;
  }

  .btn_projects {
    width: 49%;
  }

  .icons_hard_skills {
    justify-content: left;
  }
}

/* Para desktops (largura mínima de 1024px) */
@media (min-width: 1024px) {}